{% extends "base.html" %}

{% block content %}

<h1>/myBlog/</h1>
<h2>hello {{username}}</h2>
<div class="nav">
  <div class="nav"> <a href={{base_url+logout_url}}>Logout</a></div>
  <div class="nav"> <a href={{base_url+newpost_url}}>Compose</a></div>
</div>
<hr>

{% for post in posts %}
<div class="post">
    <div class="post-title"><a href={{base_url+main_url+'/'+post.key.id()|string}}>{{post.subject}}</a></div>
    <div class="post-date"> {{post.date_created.strftime('%d/%m/%y %H:%M')}} by {{post.author.get().username}}</div>
    <pre  class="post-content">{{post.body}}</pre>
  <form class="post-upvote" method="post">
    <input type="hidden" name="post_id" value="{{post.key.id()}}"></input>
    <input type="submit" name="upvote" value=Upvote></input>
  </form>
  <div class="post-upvotes">{{post.upvotes|length}}</div>
</div>
{% endfor %}

{% endblock %}
