{% extends "base.html" %}

{% block content %}

<a href="{{base_url}}"><h1>/myBlog/</h1></a>
<h2>hello {{username}}</h2>

<hr>

<div class="blog">
  <div class="main-title">{{subject}}</div>
  <div class="post-date">Created on: {{date_created}} by {{author}}</div>
  <pre  class="post-content">{{body}}</pre>
  {% if username==author %}
  <a class="post-edit" href={{base_url+main_url+'/'+post_id+'/edit'}}>Edit</a>
  <form  method="post"> <input class="post-delete" type="submit" name="delete" value="Delete"></form>
  {% else %}
  <form  name="comment" method="post">
    <label>
      <div>Comment</div>
      <textarea name="comment" rows="8" cols="30">{{comment}}</textarea>
    </label>
    <div class="error"> {{error}}</div>
    <input type="submit">´
  </form>
  {% endif %}
  {% for comment in comments %}
  <div class="comment">
    <div class="post-date"> {{comment.date_created.strftime('%d/%m/%y %H:%M')}} by {{comment.author.get().username}}</div>
    <pre  class="post-content">{{comment.comment}}</pre>
  </div>
  {% endfor %}
</div>


{% endblock %}
